@import "./common.less";

// ##################################################################################
// ICON BUTTON

.text-button {
    .text-button-like();
    font-weight: var(--title-font-weight);
}

.text-button-1 {
    .text-button();

    font-size: var(--title-font-size-1);
    line-height: var(--title-line-height-1);
}

.text-button-2 {
    .text-button();

    font-size: var(--title-font-size-2);
    line-height: var(--title-line-height-2);
}

.text-button-3 {
    .text-button();

    font-size: var(--title-font-size-3);
    line-height: var(--title-line-height-3);
}
