// ##################################################################################
// COMMON CLASSES

.base-activable() {
    cursor: pointer;
}

.activable() {
    .base-activable();
    box-shadow: 0 1px 2px var(--button-shadow-color);
}

.button-like() {
    .activable();
    border-radius: var(--button-border-radius);
    background-image: linear-gradient(to bottom right, var(--button-color-primary), var(--button-color-secondary));
}

.text-button-like() {
    .base-activable();
    font-family: var(--button-font-family);
    background: linear-gradient(to bottom right, var(--button-color-primary), var(--button-color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
