@import "./common.less";

@padding: 8px;
@double-padding: calc(@padding * 2);
@half-padding: calc(@padding / 2);

.curriculum-container {
    width: 100%;
}

.curriculum-parragraph-container {
    background-color: var(--secondary-color);
    --font-color: var(--secondary-font-color);

    margin: @double-padding 0;
}

.curriculum-list-container {
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: var(--paragraph-font-weight);

    ul {
        padding: 0 @padding;
    }

    li {
        list-style: none;
    }
}

.curriculum-list-container-horizontal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: @double-padding;
    li {
        list-style: none;
    }
}

.curriculum-list-item {
    margin-bottom: @padding;
}

.curriculum-list-item-icon {
    .curriculum-list-item();
}

.curriculum-list-item-title {
    .landing-page-title-4();
    padding: 0;
}

.curriculum-list-item-subtitle {
    .curriculum-list-item-title();
    font-style: italic;
}

.curriculum-link-container {
    padding: @half-padding @padding;
    margin-top: @double-padding;
    display: flex;
}

.curriculum-link-item {
    padding: @padding;
    margin: 0 @padding;
    background-color: white;
    flex-shrink: 0;
    .activable();
    border-radius: 50%;
}
