@import "./common.less";

@padding: 8px;
@double-padding: calc(@padding * 2);

// ##################################################################################
// ICON

.icon {
    background-color: var(--base-icon-color);
}

.icon-small {
    .icon();
    width: var(--icon-size-small);
    height: var(--icon-size-small);
}

.icon-medium {
    .icon();
    width: var(--icon-size-medium);
    height: var(--icon-size-medium);
}

.icon-big {
    .icon();
    width: var(--icon-size-big);
    height: var(--icon-size-big);
}

// ##################################################################################
// ICON BUTTON

.icon-button {
    padding: @padding;
    .button-like();
}

// ##################################################################################
// ORIGINAL ICON

.original-icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.original-icon-small {
    .original-icon();
    width: var(--icon-size-small);
    height: var(--icon-size-small);
}

.original-icon-medium {
    .original-icon();
    width: var(--icon-size-medium);
    height: var(--icon-size-medium);
}

.original-icon-big {
    .original-icon();
    width: var(--icon-size-big);
    height: var(--icon-size-big);
}
