@padding: 8px;
@double-padding: calc(@padding * 2);

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

// ##################################################################################
// ##################################################################################
// THEMES

// ##################################################################################
// BASE

.page-base-theme {
    .landing-page();
    // animation
    --transition-curve: ease-in-out;
    --transition-time-standard: 300ms;

    // footer
    --footer-height: 500px;

    // scroll area
    --scroll-area-max-width: 720px;

    // title
    --title-font-weight: 500;
    --title-font-size-1: 54px;
    --title-line-height-1: 62px;
    --title-font-size-2: 44px;
    --title-line-height-2: 52px;
    --title-font-size-3: 32px;
    --title-line-height-3: 34px;
    --title-font-size-4: 28px;
    --title-line-height-4: 30px;

    // paragraph
    --paragraph-font-weight: 500;
    --paragraph-font-weight-secondary: 600;
    --paragraph-font-size-1: 24px;
    --paragraph-font-size-2: 20px;
    --paragraph-font-size-3: 14px;

    // quote
    --quote-font-size: 20px;
    --quote-font-weight: 400;
    --quote-border-size: 5px;

    // anchor
    --anchor-font-weight: 700;

    // image
    --image-size-1: 700px;
    --image-size-2: 460px;
    --image-size-3: 320px;

    // icon
    --icon-size-small: 24px;
    --icon-size-medium: 40px;
    --icon-size-big: 50px;
    --base-icon-color: black;

    // button
    --button-border-radius: 2px;

    // mobile
    @media only screen and (max-width: 720px) {
        // scroll area
        --scroll-area-max-width: 100%;

        // title
        --title-font-size-1: 46px;
        --title-line-height-1: 50px;
        --title-font-size-2: 36px;
        --title-line-height-2: 40px;
        --title-font-size-3: 24px;
        --title-line-height-3: 28px;
        --title-font-size-4: 16px;
        --title-line-height-4: 20px;

        // paragraph
        --paragraph-font-size-1: 18px;
        --paragraph-font-size-2: 16px;
        --paragraph-font-size-3: 14px;

        // quote
        --quote-font-size: 18px;

        // image
        --image-size-1: 320px;
        --image-size-2: 240px;
        --image-size-3: 120px;
    }
}

// ##################################################################################
// CLEAR

.landing-page-clear-theme {
    .page-base-theme();
    // general
    --font-family: serif;
    --font-color: #000;
    --secondary-color: #111;
    --secondary-font-color: #fff;

    // meta information
    --meta-info-font-color: #aaa;

    // title
    --title-font-family: "Montserrat", sans-serif;

    // quote
    --quote-border-color: #ddd;
    --quote-background-color: #eee;

    // anchor
    --anchor-font-color: #005eff;

    // explorer item
    --explorer-item-separator-color: #bbb;

    // button
    --button-font-family: "Montserrat", sans-serif;
    --button-color-primary: #e90080;
    --button-color-secondary: #ff57cf;
    --button-shadow-color: rgba(0, 0, 0, 0.5);
}

// ##################################################################################
// DARK

.landing-page-dark-theme {
    .page-base-theme();
    transition: background-color var(--transition-time-standard) var(--transition-curve);
    background-color: #111;
    // general
    --font-family: "Noto Serif JP", serif;
    --font-color: #fff;
    --secondary-color: #bbb;
    --secondary-font-color: #000;

    // meta information
    --meta-info-font-color: #bbb;

    // title
    --title-font-family: "Montserrat", sans-serif;

    // quote
    --quote-border-color: #333;
    --quote-background-color: #222;

    // anchor
    --anchor-font-color: #6c9ff8;

    // explorer item
    --explorer-item-separator-color: #bbb;

    // button
    --button-font-family: "Montserrat", sans-serif;
    --button-color-primary: #e90080;
    --button-color-secondary: #ff57cf;
    --button-shadow-color: rgba(0, 0, 0, 0);
}

// ##################################################################################
// ##################################################################################
// SUBCOMPONENT CLASSES

// ##################################################################################
// EXPLORER

.landing-page-article-explorer {
    display: flex;
    flex-direction: column;
    padding: 0 @padding;
    width: 100%;
    box-sizing: border-box;
}

// ##################################################################################
// EXPLORER ITEM

.landing-page-explorer-item {
    box-sizing: border-box;
    margin: @padding 0;
    cursor: pointer;
    border-bottom: 1px solid var(--explorer-item-separator-color);
    flex-shrink: 0;
}

.landing-page-explorer-item-1 {
    .landing-page-explorer-item();
    width: 100%;
}

.landing-page-explorer-item-2 {
    .landing-page-explorer-item();
}

.landing-page-explorer-item-3 {
    .landing-page-explorer-item();
    display: flex;

    // mobile
    @media only screen and (max-width: 720px) {
        display: block;
    }
}

.landing-page-explorer-item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-explorer-item-text-container {
    padding: @double-padding;
}

// ##################################################################################
// HEADER

.landing-page-header-bar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width: 100%;
    padding: @padding @double-padding;
    display: flex;
    align-items: center;

    transition: color var(--transition-time-standard) var(--transition-curve);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: var(--title-font-weight);
    font-size: var(--paragraph-font-size-2);
    flex-shrink: 0;
}

// ##################################################################################
// FOOTER

.landing-page-footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    height: var(--footer-height);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: var(--paragraph-font-weight);
}

// ##################################################################################
// SCROLL AREA

.landing-page-scroll-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.landing-page-scroll-area-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: @padding;
    width: 100%;
    max-width: var(--scroll-area-max-width);
}

// ##################################################################################
// MAIN TITLE

.landing-page-main-title-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.landing-page-meta-information {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 @padding;

    & > p {
        .landing-page-paragraph-3();
        font-style: italic;
        margin: 0;

        color: var(--meta-info-font-color);
    }
}

// ##################################################################################
// IMAGE

.landing-page-image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin: @double-padding 0;
}

.landing-page-image-1 {
    .landing-page-image();

    height: var(--image-size-1);
    width: var(--image-size-1);
}

.landing-page-image-2 {
    .landing-page-image();

    height: var(--image-size-2);
    width: var(--image-size-2);
}

.landing-page-image-3 {
    .landing-page-image();

    height: var(--image-size-3);
    width: var(--image-size-3);
}

.landing-page-image-wide-cover {
    .landing-page-image();
    height: var(--image-size-2);
    background-size: cover;
    width: 100%;
    margin: 0;
}

.landing-page-image-tall-cover {
    .landing-page-image();
    height: var(--image-size-3);
    width: var(--image-size-3);
    background-size: cover;
    margin: @padding 0;

    //mobile
    @media only screen and (max-width: 720px) {
        width: 100%;
    }
}

// ##################################################################################
// TITLE

.landing-page-title {
    padding: @padding;

    transition: color var(--transition-time-standard) var(--transition-curve);
    color: var(--font-color);
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
}

.landing-page-title-1 {
    .landing-page-title();

    font-size: var(--title-font-size-1);
    line-height: var(--title-line-height-1);
}

.landing-page-title-2 {
    .landing-page-title();

    font-size: var(--title-font-size-2);
    line-height: var(--title-line-height-2);
}

.landing-page-title-3 {
    .landing-page-title();

    font-size: var(--title-font-size-3);
    line-height: var(--title-line-height-3);
}

.landing-page-title-4 {
    .landing-page-title();

    font-size: var(--title-font-size-4);
    line-height: var(--title-line-height-4);
}

// ##################################################################################
// PARAGRAPH

.landing-page-paragraph {
    padding: @padding;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    transition: color var(--transition-time-standard) var(--transition-curve);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: var(--paragraph-font-weight);
}

.landing-page-paragraph-1 {
    .landing-page-paragraph();
    font-size: var(--paragraph-font-size-1);
}

.landing-page-paragraph-2 {
    .landing-page-paragraph();
    font-size: var(--paragraph-font-size-2);
}

.landing-page-paragraph-3 {
    .landing-page-paragraph();
    font-size: var(--paragraph-font-size-3);
    font-weight: var(--paragraph-font-weight-secondary);
}

// ##################################################################################
// QUOTE

.landing-page-quote {
    box-sizing: border-box;
    padding: @padding @double-padding;

    font-style: italic;
    transition: color var(--transition-time-standard) var(--transition-curve);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: var(--quote-font-weight);
    font-size: var(--quote-font-size);
    border-left: var(--quote-border-size) solid var(--quote-border-color);
    background-color: var(--quote-background-color);
}

// ##################################################################################
// ANCHOR

.landing-page-anchor {
    box-sizing: border-box;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;

    font-weight: var(--anchor-font-weight);
    transition: color var(--transition-time-standard) var(--transition-curve);
    color: var(--anchor-font-color);
}
